.sidebarDesk{
    display: none;
}

@media (min-width:1000px) {
    .sidebarDesk{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .stepTitle{
        color: var(--Cool-gray);
        font-weight: bold;
        font-size: var(--xs);
    }
    .stepDescription{
        color: var(--Magnolia);
        font-weight: bold;
        font-size: var(--xs);
    }
    .stepBox-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    .steps{
        display: flex;
        width: 80%;
        margin-bottom: 30px;
    }
}