footer{
    display: flex;
    align-items: center;
    padding: 16rem;

    background-color: var(--Alabaster);
}
.footerClass{
    justify-content: flex-end;
}
.hasGoBack{
    justify-content: space-between;
}