footer{
    display: flex;
    align-items: center;
    padding: 16rem;
    width: 100%;

    background-color: var(--Alabaster);
    border: none;
}
.footerClass{
    justify-content: flex-end;
}
.hasGoBack{
    justify-content: space-between;
}