.sidebarMob{
    display: flex;
    justify-content: space-around;

    width: 200rem;
}
li{
    width: 34rem;
    height: 34rem;
    

    line-height: 31rem;
    text-align: center;
    list-style: none;
    color: var(--Light-gray);
    font-weight: 500;
    
    border-radius: 17rem;
    border: 2px solid var(--Light-gray);
    background-color: transparent;

    transition: all .4s;
}
.steped{
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
    border: 2px solid transparent;
}

@media (min-width:1000px) {
    .sidebarMob{
        display: none;
    }
}