.thanks{
    display: grid;
    place-items: center;
    padding: 80rem 20rem 80rem;
}
.thanksSubtitle{
    margin: 0;
    text-align: center;
    font-size: 17rem;
}
.thanksIcons{
    height: 55rem;
    margin-bottom: 20rem;
    margin-right: 0;
}
@media (min-width:1000px) {
    .thanks{
        padding: 0;
        place-self: center;
    }
}