.inputTitle{
    color: var(--Marine-blue);
    font-weight: bold;
}
.planLabels--title{
    font-size: 17rem;
}
.labels{
    display: flex;
    align-items: center;
    
    width: 100%;
    min-height: 78rem;
    padding-left: 18rem;
    margin-bottom: 12rem;
    
    border: 1px var(--Light-gray) solid;
    border-radius: 12rem;
    
    transition: all .4s;
    transform: scale(1);
}
.planLabels{
    align-items: flex-start;
    padding: 20rem 0 0 18rem;
}
.labels:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.inputs:checked + .labels{
    border: 1px var(--Purplish-blue) solid;
    background-color: var(--Magnolia);
}
.planPrice{
    margin-top: 6rem;
}
.textWrap{
    display: flex;
    align-items: start;
    flex-direction: column;

    width: 40%;
    min-height: 40rem;
}
.wrapExpanded{
    justify-content: start;
    height: 80rem;
    padding-bottom: 20rem;
}
.planInputs{
    display: none;
}
.svg{
    height: 40rem;
    margin-right: 18rem;
}
.inputDescription{
    color: var(--Cool-gray);
    font-size: var(--xs);
    font-weight: 500;
}
.monthsfree{
    font-size: 13.5rem;
    margin-top: 6rem;
    color: var(--Marine-blue);
    font-weight: 500;
}
@media (min-width:1000px) {
    .planLabels{
        flex-direction: column;
        justify-content: flex-start;
        min-height: 170rem;
        width: 150rem;
        padding-bottom: 10rem;
    }
    .planLabels--textWrap{
        width: 100%;
    }
    .planInputBox{
        display: flex;
        justify-content: space-between;
    }
    .planIcons{
        margin-bottom: 60rem;
    }
    .wrapExpanded{
        padding-bottom: 0;
        justify-content: flex-end;
    }
}